.container{
    background-color:lightgray;
    width: 700px;
    height:180px;
}
label{
font-size: 90px;

}
.btn{
    margin-left: 400px;
    margin-top: -50px;
    display: flex;
}
button{
    border-radius: 50%;
    height: 70px;
    width: 100px;
    font-size: 20px;
}
#reset{
    background-color:#4588D1;
}
input{
    width: 30px;
    border-radius: 50px;
}